attrs==20.2.0
cffi==1.14.3
cryptography==3.1.1
gunicorn==20.0.4
pip==20.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.1.0
pyTelegramBotAPI==3.7.3
requests==2.7.0
service-identity==18.1.0
setuptools==47.1.0
six==1.15.0
urllib3==1.25.10
